:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  background-color: #213547;
  padding: 10px;
}

.nav-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.nav-content>h2 {
  color: #61DBFB;
  margin-right: auto;
  padding-left: 10px;
}

.nav-content>h3 {
  color: white;
  font-weight: 400;
}

#root {
  max-width: 100%;
  padding: 0;
  min-height: 100vh;
  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

.page-container {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 20px;
  align-items: center;
  /* margin: auto; */
  color: #f9f9f9;
  /* background-image: url("/src/images/react-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right; */
}

.main--title {
  letter-spacing: 0.05em;
}

.react-logo-main {
  align-self: center;
  padding: 10px;
}

.facts-container {
  padding: 3rem;
  border-radius: 8px;
  /* border: 1px solid #61DBFB; */
  box-shadow: 0 0 0 1px rgba(79, 79, 80, 0.1), 0 4px 6px rgba(209, 211, 212, 0.1);
  background-color: #213547;
  display: flex;
  flex-direction: column;
  background-image: url("/src/images/react-logo-bg-blue.png");
  background-repeat: no-repeat;
  background-position: right 80%;
}

.reactFacts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282D35;
}

.main--ul {
  list-style-image: url("/src/images/react-logo-li.png");
}

.reactFacts li {
  text-align: start;
  padding-block: 5px;
  letter-spacing: 0.03em;
}

.reactFacts li::marker {
  color: #61DBFB;
}

footer {
  padding: 2em;
  font-size: 0.8em;
  background-color: #213547;
  color: #61DBFB;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}